@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap');

body {
    background-color: #525252;
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;

    .twitterlogo {
        height: 20px;
        padding-right: 30px;
    }

    .youtubelogo {
        height: 30px;
    }

    nav {
        font-family: 'Monserrat', sans-serif;
        background-color: #313131;
        display: block;
        padding: 20px 10px;
        z-index: 2;

        #social {
            display: inline;
            position: absolute;
            top: 35px;
            right: 30px;
        }

        a {
            color: #eeeeee;
        }

        a:hover {
            text-decoration: none;
            color: #eeeeee;
        }

        label {
            font-size: 50px;
            cursor: pointer;
            margin: 0px;
        }        
        
        #brand {
            width: 400px;
        }

        .right {
            display: none;
        }

        .left {
            display: none;
        }

        .menu {
            display: none;
            text-align: left;

            ul {
                padding: 0px;
                margin: 0px;
    
                li {
                    list-style: none;
                    line-height: 40px;
                }

                a:hover {
                    color: #eeeeee;
                }
            }
        }

        #toggle {
            display: none;
        }

        #toggle:checked ~ .menu {
            display: block;
        }
    }

    main {    
        padding-bottom: 30px;;
        
        .buffer {
            display: none;
        }

        .block1 {
            background-image: url("media/home.jpeg");
            background-size: cover;
            background-position: bottom;
            width: 100%;
            height: 200px;
            text-align: center;

            .grid1 {
                display: grid;
                grid-template-columns: auto 75%;
            }

            #slogan {
                padding: 40px 30px 0px 30px;
                font-size : 15px;
                line-height: 25px;
            }

            .block2 {
                display: none;
            }

            #bitcoin {
                display: none;
            }
        }

        .block4 {
            background-image: url("media/Pod_Mic.jpg");
            background-size: cover;
            background-position: bottom;
            width: 100%;
            height: 200px;

            h1 {
                padding: 75px 0px 0px 30px;
            }
        }

        .container {
            padding: 15px;
            margin: 0 auto;
            width: 100%;

            .plateforms {
                width: 100%;;
                text-align: center;

                .listen_on {
                    width: 250px;
                    padding :10px;
                }
            }
            
            h1 {
                padding: 21px 10px 20px 10px;
                font-size: 35px;
            }

            .grid2 {
                display: grid;
                grid-template-columns : 30% 50% 20%;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
                font-size: 10px;

                .title {
                    font-size: 12px;
                }

                a {
                    color: #eeeeee;
                    text-decoration: underline;
                }

                a:hover {
                    color: #b55400;
                }
            }
        }

        .block3 {
            background-image: url("media/books.jpg");
            background-size: cover;
            background-position: center;
            height: 200px;

            h1 {
                padding: 75px 0px 0px 30px;
            }
        }
    }

    footer {
        text-align: center;
        background-color: #313131;
        padding: 15px 0px;

        .twitterlogo {
            padding: 0px;
        }

        .youtubelogo {
            padding: 0px;
        }

        h1 {
            padding-bottom: 10px;;
        }

        ul {
            margin: 0;
            padding: 0px;

            li {
                display: inline;
                margin: 0;
                padding-right: 10px;

                a {
                    color: #eeeeee;
                }

                a:hover {
                    color: #eeeeee;
                    text-decoration: none;
                }
            }
        }
            
    }

    @media only screen and (min-width: 768px) {
        main {    
            .block1 {
                height: 400px;
                text-align: center;
                margin-top: 0px;
    
                .grid1 {
                    display: grid;
                    grid-template-columns: auto 70%;
                }
    
                #slogan {
                    padding: 40px 30px 0px 30px;
                    font-size : 30px;
                    line-height: 50px;
                }
    
                .block2 {
                    padding-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    grid-template-columns: 25% 25% 25% 25%;
    
                    .listen_on {
                        height: 50px;
                    }
                }
            }
            
            .plateforms {
                display: none;
            }

            .container {    
                .grid2 {
                    grid-template-columns : 30% 55% 15%;
                    font-size: 20px;
    
                    .title {
                        font-size: 25px;
                    }
                }
            }

            .block4 {
                background-image: url("media/pod_mic_rev.jpeg");
                background-position: center;
                height: 400px;
    
                h1 {
                    padding: 175px 0px 0px 30px;
                }
            }
        }
    }

    @media only screen and (min-width: 1000px) {
        nav {    
            display: inline-block;
            width: 100%;
            margin-top: 0px;
            position: fixed;
            
            #toggle {
                display: none;
            }

            #social {
                display: none;
            }

            label {
                display: none;
            }
            
            .left {
                display: inline-block;
                float: left;
            }
            
            .right {
                display: inline-block;
                float: right;
                padding-top: 10px;
                a {
                    padding-right: 20px;
    
                    .twitterlogo {
                        padding: 0px;
                    }
                }
            } 
        }
    
        main {
            .buffer {
                display: block;
                height: 65px;
            }
            
            .block1 {
                height: 600px;
    
                .grid1 {
                    grid-template-columns: auto 70%;
                }
    
                #slogan {
                    padding: 100px 30px 0px 30px;
                    font-size : 40px;
                    line-height: 50px;
                }
    
                .block2 {
                    padding-top: 30px;
                    padding-bottom: 30px;
                } 
                
                #bitcoin {
                    display: block;
                    margin: 0 auto;
                    width: 200px;
                    z-index: 1;
                }

                .animate__animated.animate__slideInLeft {
                    --animate-duration: 1.5s;
                }
            }

            .container {    
                .grid2 {
                    column-gap: 20px;
    
                    .title {
                        font-size: 30px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}
