@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Source+Code+Pro&display=swap");
@import url("https://fr.allfont.net/allfont.css?fonts=arcade-rounded");
body {
  background-color: #525252;
  color: #eeeeee;
  font-family: "Poppins", sans-serif;
}

body .twitterlogo {
  height: 20px;
  padding-right: 30px;
}

body .youtubelogo {
  height: 30px;
}

body nav {
  font-size: 12px;
  background-color: #313131;
  display: block;
  padding: 10px 10px;
  z-index: 2;
}

body nav #social {
  display: inline;
  position: absolute;
  top: 35px;
  right: 30px;
}

body nav a {
  color: #eeeeee;
}

body nav a:hover {
  text-decoration: none;
  color: #eeeeee;
}

body nav label {
  font-size: 50px;
  cursor: pointer;
  margin: 0px;
}

body nav #brand {
  width: 400px;
}

body nav .right {
  display: none;
  font-size: 20px;
}

body nav .left {
  display: none;
}

body nav .menu {
  display: none;
  text-align: left;
}

body nav .menu ul {
  padding: 0px;
  margin: 0px;
}

body nav .menu ul li {
  list-style: none;
  line-height: 40px;
}

body nav .menu ul a:hover {
  color: #eeeeee;
}

body nav #toggle {
  display: none;
}

body nav #toggle:checked ~ .menu {
  display: block;
}

body main {
  padding-bottom: 30px;
}

body main .buffer {
  display: none;
}

body main .partners h1 {
  text-align: center;
}

body main .partners .bar {
  padding-top: 2px;
  border-bottom: 1px solid;
  margin: 0 auto;
  width: 50%;
}

body main .block1 {
  background-image: url("media/home.jpeg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 200px;
  text-align: center;
}

body main .block1 .grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 75%;
      grid-template-columns: auto 75%;
}

body main .block1 #slogan {
  font-family: "Arcade Rounded", arial;
  padding: 40px 30px 0px 30px;
  font-size: 10px;
  line-height: 25px;
}

body main .block1 .block2 {
  display: none;
}

body main .block1 #bitcoin {
  display: none;
}

body main .block4 {
  background-image: url("media/Pod_Mic.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 200px;
}

body main .block4 h1 {
  padding: 75px 0px 0px 30px;
}

body main .container {
  padding: 15px;
  margin: 0 auto;
  width: 100%;
}

body main .container .plateforms {
  width: 100%;
  text-align: center;
}

body main .container .plateforms .listen_on {
  width: 250px;
  padding: 10px;
}

body main .container .partners {
  max-width: 400px;
  margin: 0 auto;
}

body main .container .partnerlogos {
  display: block;
}

body main .container .partnerlogos .box {
  padding: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: white;
  text-align: center;
  height: 75px;
  margin-top: 30px;
}

body main .container .partnerlogos .box #ledgerlogo {
  max-width: 200px;
}

body main .container .partnerlogos .box #paymiumlogo {
  max-width: 200px;
}

body main .container h1 {
  text-align: center;
  padding: 30px 10px 20px 10px;
  font-size: 35px;
}

body main .container .grid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 50% 20%;
      grid-template-columns: 30% 50% 20%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  font-size: 10px;
}

body main .container .grid2 .title {
  font-size: 12px;
}

body main .container .grid2 a {
  color: #eeeeee;
  text-decoration: underline;
}

body main .container .grid2 a:hover {
  color: #b55400;
}

body main .block3 {
  background-image: url("media/books.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
}

body main .block3 h1 {
  padding: 75px 0px 0px 30px;
}

body footer {
  text-align: center;
  background-color: #313131;
  padding: 15px 0px;
}

body footer .twitterlogo {
  padding: 0px;
}

body footer .youtubelogo {
  padding: 0px;
}

body footer h1 {
  padding-bottom: 10px;
}

body footer ul {
  margin: 0;
  padding: 0px;
}

body footer ul li {
  display: inline;
  margin: 0;
  padding-right: 10px;
}

body footer ul li a {
  color: #eeeeee;
}

body footer ul li a:hover {
  color: #eeeeee;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body main .block1 {
    height: 400px;
    text-align: center;
    margin-top: 0px;
  }
  body main .block1 .grid1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 70%;
        grid-template-columns: auto 70%;
  }
  body main .block1 #slogan {
    padding: 40px 30px 0px 30px;
    font-size: 12px;
    line-height: 50px;
  }
  body main .block1 .block2 {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  body main .block1 .block2 .listen_on {
    height: 50px;
  }
  body main .plateforms {
    display: none;
  }
  body main .container .grid2 {
    -ms-grid-columns: 30% 55% 15%;
        grid-template-columns: 30% 55% 15%;
    font-size: 20px;
  }
  body main .container .grid2 .title {
    font-size: 25px;
  }
  body main .block4 {
    background-image: url("media/pod_mic_rev.jpeg");
    background-position: center;
    height: 400px;
  }
  body main .block4 h1 {
    padding: 175px 0px 0px 30px;
  }
}

@media only screen and (min-width: 1000px) {
  body nav {
    display: inline-block;
    width: 100%;
    margin-top: 0px;
    position: fixed;
    padding: 20px 10px;
  }
  body nav #toggle {
    display: none;
  }
  body nav #social {
    display: none;
  }
  body nav label {
    display: none;
  }
  body nav .left {
    display: inline-block;
    float: left;
  }
  body nav .right {
    display: inline-block;
    float: right;
    padding-top: 10px;
  }
  body nav .right a {
    padding-right: 20px;
  }
  body nav .right a .twitterlogo {
    padding: 0px;
  }
  body main .buffer {
    display: block;
    height: 80px;
  }
  body main .block1 {
    height: 600px;
  }
  body main .block1 .grid1 {
    -ms-grid-columns: auto 70%;
        grid-template-columns: auto 70%;
  }
  body main .block1 #slogan {
    padding: 100px 30px 0px 30px;
    font-size: 20px;
    line-height: 50px;
  }
  body main .block1 .block2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  body main .block1 #bitcoin {
    display: block;
    margin: 0 auto;
    width: 200px;
    z-index: 1;
  }
  body main .block1 .animate__animated.animate__slideInLeft {
    --animate-duration: 1.5s;
  }
  body main .container .grid2 {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  body main .container .grid2 .title {
    font-size: 30px;
    padding-bottom: 20px;
  }
  body main .container h1 {
    text-align: left;
  }
  body main .container .partners {
    width: 100%;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 5px;
  }
  body main .container .partners h1 {
    text-align: center;
    font-size: 60px;
  }
  body main .container .partners .bar {
    padding-top: 2px;
    border-bottom: 1px solid;
    margin: 0 auto;
    width: 50%;
  }
  body main .container .partners .partnerlogos {
    width: 100%;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .container .partners .partnerlogos .box {
    padding: 15px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 15px;
    background-color: white;
    height: 100px;
  }
  body main .container .partners .partnerlogos .box #ledgerlogo {
    max-width: 300px;
  }
  body main .container .partners .partnerlogos .box #paymiumlogo {
    max-width: 300px;
  }
  body main .container .partners .partnerlogos .box:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=styles.css.map */